body {
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Colors */
  --color-background: #121213;
  --color-grid-border: #3a3a3c;
  --color-text: #fff;

  --color-node-visited-from: #3a417e;
  --color-node-visited-to: #5ac9e0;
  --color-node-looking: rgb(248, 235, 54);
  --color-node-wall: #8a8a8a;
  --color-node-shortest-path: #fffe6a;

  --node-size: 15px;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******* Grid *********/
#grid-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  width: fit-content;
}

#row {
  display: flex;
}

#outer-node {
  border: solid 1px var(--color-grid-border);
}
#node {
  cursor: pointer;
  height: var(--node-size);
  width: var(--node-size);
}

#node[node-type="open"] {
}
#node[node-type="start"] {
  background: url("../images/arrow-right.svg") center no-repeat;
  background-size: contain;
  cursor: default;
  animation: plop 0.9s ease-out forwards alternate;
}
#node[node-type="goal"] {
  background: url("../images/target.svg") center no-repeat;
  background-size: contain;
  cursor: default;
  animation: plop 0.9s ease-out forwards alternate;
}

#node[state-type="visited"] {
  animation: visitedAnimation 1.5s ease-out forwards alternate;
}

#outer-node[node-type="wall"] {
  border: 0;
}
#node[node-type="wall"] {
  background-color: var(--color-node-wall);
  border: solid 1px var(--color-node-wall);
  animation: plop 0.5s ease-out forwards alternate;
}

#outer-node[state-type="shortest-path"] {
  animation: shortestPath-outer 2s ease-out forwards alternate;
}
#node[state-direction="right"] {
  background: url("../images/arrow-right.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="left"] {
  background: url("../images/arrow-left.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="up"] {
  background: url("../images/arrow-up.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="down"] {
  background: url("../images/arrow-down.svg") center no-repeat;
  background-size: contain;
}
#node[state-type="shortest-path"] {
  animation: shortestPath 2s ease-out forwards alternate;
}

/******* State Selector *********/
#state-selector-container {
  display: flex;
  flex-direction: row;
}
#state-toggle {
  cursor: pointer;
  margin: 10px;
}
#state-toggle[toggle-state="toggled"] {
  color: red;
}

/****** ANIMATIONS *******/
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: 0;
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: 0;
  }
  85% {
    background-image: none;
  }
  99% {
    border: 0;
    background-image: none;
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
    background-image: none;
  }
}

@keyframes shortestPath-outer {
  0% {
    border: solid 1px transparent;
    background-color: transparent;
  }
  99% {
    border: solid 1px transparent;
    background-color: transparent;
  }
  100% {
    border: 0;
    background-color: transparent;
  }
}

@keyframes plop {
  0% {
    transform: scale(0.6);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
