body {
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Colors */
  --color-background: #fff;
  --color-grid-border: #565758;
  --color-text: #000;

  --node-size: 35px;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******* Grid *********/
#grid-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  width: fit-content;
}

#row {
  display: flex;
}

#node {
  cursor: pointer;
  height: var(--node-size);
  width: var(--node-size);
  border: solid 1px var(--color-grid-border);
}
#node[state-type="open"] {
}
#node[state-type="start"] {
  background-color: green;
  cursor: default;
}
#node[state-type="goal"] {
  background-color: purple;
  cursor: default;
}
#node[state-type="visited"] {
  background-color: blue;
}

/******* State Selector *********/
#state-selector-container {
  display: flex;
  flex-direction: row;
}
#state-toggle {
  cursor: pointer;
  margin: 10px;
}
#state-toggle[toggle-state="toggled"] {
  color: red;
}
