body {
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Colors */
  --color-background: #1b1b1c;
  --color-grid-border: #3a3a3c;
  --color-text: #fff;

  /* Type Selector */
  --type-selector-height: 45px;
  --type-selector-width: 137px;
  --color-type-selector-unselected: transparent;
  --color-type-selector-unselected-hover: #272729;
  --color-type-selector-unselected-clicked: #2f2f34;
  --color-type-selector-selected: #4b4b4b;
  --color-type-selector-selected-hover: #4b4b4b;
  --color-type-selector-selected-clicked: #2f2f34;

  /* Header */
  --color-header: #20232a;
  --color-header-option: var(--color-text);
  --color-header-option-hover: #61dafb;

  --color-node-visited-from: #3a417e;
  --color-node-visited-to: #5ac9e0;
  --color-node-looking: rgb(248, 235, 54);
  --color-node-wall: #8a8a8a;
  --color-node-shortest-path: #fffe6a;

  --node-size: 30px;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******* Grid *********/
#grid-container {
  padding: 0px 10px 10px 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  display: grid;
  grid-auto-flow: dense;
}

#row {
  flex: 1;
  display: flex;
}

#outer-node {
  border: solid 1px var(--color-grid-border);
}
#node {
  cursor: pointer;
  flex: 1;
  height: var(--node-size);
  width: var(--node-size);
}

#node[node-type="start"] {
  background: url("../images/arrow-right.svg") center no-repeat;
  background-size: contain;
  cursor: default;
  animation: plop 0.9s ease-out forwards alternate;
}
#node[node-type="goal"] {
  background: url("../images/target.svg") center no-repeat;
  background-size: contain;
  cursor: default;
  animation: plop 0.9s ease-out forwards alternate;
}

/* Weights */
#node[node-type="weight-2"] {
  background: url("../images/weight-2.svg") center no-repeat;
  background-size: contain;
  animation: plop 0.9s ease-out forwards alternate;
}
#node[node-type="weight-5"] {
  background: url("../images/weight-5.svg") center no-repeat;
  background-size: contain;
  animation: plop 0.9s ease-out forwards alternate;
}
#node[node-type="weight-10"] {
  background: url("../images/weight-10.svg") center no-repeat;
  background-size: contain;
  animation: plop 0.9s ease-out forwards alternate;
}

#node[state-type="visited"] {
  animation: visitedAnimation 1.5s ease-out forwards alternate;
}

#outer-node[node-type="wall"] {
  border: 0;
}
#node[node-type="wall"] {
  background-color: var(--color-node-wall);
  border: solid 1px var(--color-node-wall);
  animation: plop 0.5s ease-out forwards alternate;
}

#outer-node[state-type="shortest-path"] {
  border: 0;
}
#outer-node[state-type="shortest-path-special"] {
  border: 0;
}
#outer-node[state-type="shortest-path-weight-2"] {
  border: 0;
}
#outer-node[state-type="shortest-path-weight-5"] {
  border: 0;
}
#outer-node[state-type="shortest-path-weight-10"] {
  border: 0;
}

#node[state-direction="right"] {
  background: url("../images/arrow-right.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="left"] {
  background: url("../images/arrow-left.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="up"] {
  background: url("../images/arrow-up.svg") center no-repeat;
  background-size: contain;
}
#node[state-direction="down"] {
  background: url("../images/arrow-down.svg") center no-repeat;
  background-size: contain;
}

#node[state-type="shortest-path"] {
  animation: shortestPath 2s ease-out forwards alternate;
}
#node[state-type="shortest-path-special"] {
  animation: shortestPathSpecial 2s ease-out forwards alternate;
}

#node[state-type="shortest-path-weight-2"] {
  animation: shortestPathWeight2 2s ease-out forwards alternate;
}
#node[state-type="shortest-path-weight-5"] {
  animation: shortestPathWeight5 2s ease-out forwards alternate;
}
#node[state-type="shortest-path-weight-10"] {
  animation: shortestPathWeight10 2s ease-out forwards alternate;
}

/******* Header *********/
#header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 28px 15px;
  align-items: center;
  background-color: var(--color-header);
}
#header-end {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}
#header-title {
  font-style: normal;
  text-align: center;
  font-size: 20px;
  margin-right: 50px;
}

#action {
  cursor: pointer;
  color: var(--color-header-option);
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  font-size: 15px;
}
#action:hover {
  color: var(--color-header-option-hover);
}

/******* State Selector *********/
#state-selector-container {
  display: flex;
  flex-direction: row;
}
#state-toggle {
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  color: var(--color-text);
  height: var(--type-selector-height);
  width: var(--type-selector-width);
  gap: 5px;
  border-radius: 10px;
}
#state-toggle:hover {
  background-color: var(--color-type-selector-unselected-hover);
}
#state-toggle:active {
  background-color: var(--color-type-selector-unselected-clicked);
}
#state-toggle[toggle-state="toggled"] {
  background-color: var(--color-type-selector-selected);
}
#state-toggle[toggle-state="toggled"]:hover {
  background-color: var(--color-type-selector-selected-hover);
}
#state-toggle[toggle-state="toggled"]:active {
  background-color: var(--color-type-selector-selected-clicked);
}

/****** ANIMATIONS *******/
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  85% {
    background-image: none;
  }
  99% {
    border: solid 1px var(--color-node-shortest-path);
    background-image: none;
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
    background-image: none;
  }
}
@keyframes shortestPathSpecial {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
}
@keyframes shortestPathWeight2 {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  85% {
    background-image: url("../images/weight-2.svg");
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
    background-image: url("../images/weight-2.svg");
  }
}
@keyframes shortestPathWeight5 {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  85% {
    background-image: url("../images/weight-5.svg");
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
    background-image: url("../images/weight-5.svg");
  }
}
@keyframes shortestPathWeight10 {
  0% {
    transform: scale(0.6);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
  }
  85% {
    background-image: url("../images/weight-10.svg");
  }
  100% {
    transform: scale(1);
    background-color: var(--color-node-shortest-path);
    border: solid 1px var(--color-node-shortest-path);
    background-image: url("../images/weight-10.svg");
  }
}

@keyframes shortestPath-outer {
  0% {
    border: solid 1px transparent;
    background-color: transparent;
  }
  99% {
    border: solid 1px transparent;
    background-color: transparent;
  }
  100% {
    border: 0;
    background-color: transparent;
  }
}

@keyframes plop {
  0% {
    transform: scale(0.6);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
